.Container {
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}
.display-field{
  min-width: 85vw;
  

}
.Card{
  color:#fff;
  padding: 1rem;
  border-radius: 10px;
  background-color: #888; 
}
.Title{
  font-size: 4rem;
  margin: 0;
}
.TitleCard{
  color:#000;
  background-color: #fff;
  border-left: solid 5px #888;
  border-right: solid 5px #888;
 
}
.TitleCard:hover{
  border-left: solid 5px #000;
  border-right: solid 5px #000;
}



.bck-btn{
  margin-bottom: 1rem;
  display: flex;
  align-self: flex-start;
  color:#fff;
  font-size: 1rem;
  background: #888;
  border-radius: 5px;
  text-align: center;
  border: solid 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.bck-btn:hover{
  color:#888;
  background: #fff;
  border:solid 1px #888;
}




